<p id="notice"><%= notice %></p>

<p>
  <strong>Acquereur:</strong>
  <%= @acqereurrecherch.acquereur %>
</p>

<p>
  <strong>Type de bien:</strong>
  <%= @acqereurrecherch.type_de_bien %>
</p>

<p>
  <strong>Chambre:</strong>
  <%= @acqereurrecherch.chambre %>
</p>

<%= link_to 'Edit', edit_acqereurrecherch_path(@acqereurrecherch) %> |
<%= link_to 'Back', acqereurrecherches_path %>
